@page "/drug"
@page "/"
@using CA3.Client.Pages

<MudPaper Outlined="true" Style="@($"color:{Theme.PaletteLight.Dark}; background:{Theme.PaletteLight.GrayLight};")">
    <MudText Align="MudBlazor.Align.Center" Typo="Typo.h3"> OpenFDA Drug Search</MudText>
    <MudText Align="MudBlazor.Align.Center" Typo="Typo.body1">(Usage: Enter the expected drug's name in the search bar or click the button to fetch an example)</MudText>
    <MudText Align="MudBlazor.Align.Center" Typo="Typo.body1">Some manufacturer doesn't put all showed information, those would be higlighted as "Not Stated"</MudText>
</MudPaper>

<div class="d-flex align-items-center">
    <MudTextField @bind-Value="textValue" Label="Expected drug name" Variant="Variant.Outlined" OnKeyDown="InvokeAsyncByKeyDown"></MudTextField>
    <MudButton OnClick="LoadDrugs" Disabled="@isLoading" Variant="Variant.Filled" Color="Color.Tertiary" class="ms-2" Size="Size.Large">
            @if (isLoading)
            {
                <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
                <MudText Class="ms-2">Loading drugs</MudText>
            }
            else
            {
                <MudText>Search drugs</MudText>
            }
        </MudButton>
</div>


<br />

@if (drugs != null && drugs.Any())
{
    <MudTable Items="@drugs.AsQueryable()" Outlined="true" Dense="true" Hover="true" Bordered="true" Striped="true" Filter="new Func<FullDrug,bool>(FilterFunc1)">
        <ToolBarContent>
            <MudText Typo="Typo.h6">Requested drugs</MudText>
            <MudSpacer />
            <MudTextField @bind-Value="textSearchString" Placeholder="Filter" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
        </ToolBarContent>
        <HeaderContent>
            <MudTh>Brand Name</MudTh>
            <MudTh>Generic Name</MudTh>
            <MudTh>Manufacturer Name</MudTh>
            <MudTh>Product Type</MudTh>
            <MudTh>Route of Administration</MudTh>
            <MudTh>Application Number</MudTh>
            <MudTh>Purpose</MudTh>
            <MudTh>Details</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Brand Name">
                <MudText Inline="true" Typo="Typo.body2"
                         Style="@(BlazorListStringHelper.Display(context.Openfda.BrandName, "Not Stated") == "Not Stated" ? "color: red; font-weight: bold;" : "")">
                    @BlazorListStringHelper.Display(context.Openfda.BrandName, "Not Stated")
                </MudText>
            </MudTd>

            <MudTd DataLabel="Generic Name">
                <MudText Inline="true" Typo="Typo.body2"
                         Style="@(BlazorListStringHelper.Display(context.Openfda.GenericName, "Not Stated") == "Not Stated" ? "color: red; font-weight: bold;" : "")">
                    @BlazorListStringHelper.Display(context.Openfda.GenericName, "Not Stated")
                </MudText>
            </MudTd>

            <MudTd DataLabel="Manufacturer Name">
                <MudText Inline="true" Typo="Typo.body2"
                         Style="@(BlazorListStringHelper.Display(context.Openfda.ManufacturerName, "Not Stated") == "Not Stated" ? "color: red; font-weight: bold;" : "")">
                    @BlazorListStringHelper.Display(context.Openfda.ManufacturerName, "Not Stated")
                </MudText>
            </MudTd>

            <MudTd DataLabel="Product Type">
                <MudText Inline="true" Typo="Typo.body2"
                         Style="@(BlazorListStringHelper.Display(context.Openfda.ProductType, "Not Stated") == "Not Stated" ? "color: red; font-weight: bold;" : "")">
                    @BlazorListStringHelper.Display(context.Openfda.ProductType, "Not Stated")
                </MudText>
            </MudTd>

            <MudTd DataLabel="Route of Administration">
                <MudText Inline="true" Typo="Typo.body2"
                         Style="@(BlazorListStringHelper.Display(context.Openfda.Route, "Not Stated") == "Not Stated" ? "color: red; font-weight: bold;" : "")">
                    @BlazorListStringHelper.Display(context.Openfda.Route, "Not Stated")
                </MudText>
            </MudTd>

            <MudTd DataLabel="Application Number">
                <MudText Inline="true" Typo="Typo.body2"
                         Style="@(BlazorListStringHelper.Display(context.Openfda.ApplicationNumber, "Not Stated") == "Not Stated" ? "color: red; font-weight: bold;" : "")">
                    @BlazorListStringHelper.Display(context.Openfda.ApplicationNumber, "Not Stated")
                </MudText>
            </MudTd>

            <MudTd DataLabel="Purpose">
                <MudText Inline="true" Typo="Typo.body2"
                         Style="@(BlazorListStringHelper.Display(context.Purpose, "Not Stated") == "Not Stated" ? "color: red; font-weight: bold;" : "")">
                    @BlazorListStringHelper.Display(context.Purpose, "Not Stated")
                </MudText>
            </MudTd>


            <MudTd>
                <MudButton Variant="Variant.Text" EndIcon="@((context.IsExpanded) ? @Icons.Material.Filled.ExpandLess : @Icons.Material.Filled.ExpandMore)" OnClick="() => ToggleExpansion(context)">
                </MudButton>
            </MudTd>
        </RowTemplate>
        <ChildRowContent>
            @if (context.IsExpanded)
            {
                <MudTd ColSpan="3">
                    <MudGrid Class="pa-3" Gutter="3">
                        <MudItem xs="12" sm="6">
                            <MudExpansionPanel Text="Active Ingredients" MaxHeight="150" Style="border: 1px solid #ccc; border-radius: 4px; padding: 8px;">
                                <MudText Typo="Typo.body2">@BlazorListStringHelper.Display(context.ActiveIngredients, "Not Stated")</MudText>
                            </MudExpansionPanel>
                        </MudItem>
                        <MudItem xs="12" sm="6">
                            <MudExpansionPanel Text="Indications & Usage" MaxHeight="150" Style="border: 1px solid #ccc; border-radius: 4px; padding: 8px;">
                                <MudText Typo="Typo.body2">@BlazorListStringHelper.Display(context.IndicationAndUsage, "Not Stated")</MudText>
                            </MudExpansionPanel>
                        </MudItem>
                        <MudItem xs="12" sm="6">
                            <MudExpansionPanel Text="Warnings" Style="border: 1px solid #ccc; border-radius: 4px; padding: 8px;">
                                <MudText Inline="true" Typo="Typo.body2">
                                    @BlazorListStringHelper.Display(context.Warnings, "Not Stated")
                                </MudText>
                            </MudExpansionPanel>
                        </MudItem>
                        <MudItem xs="12" sm="6">
                            <MudExpansionPanel Text="Warnings and Precautions" Style="border: 1px solid #ccc; border-radius: 4px; padding: 8px;">
                                <MudText Inline="true" Typo="Typo.body2">
                                    @BlazorListStringHelper.Display(context.WarningsAndPrecautions, "Not Stated")
                                </MudText>
                            </MudExpansionPanel>
                        </MudItem>
                        <MudItem xs="12" sm="6">
                            <MudExpansionPanel Text="Adverse Reactions" Style="border: 1px solid #ccc; border-radius: 4px; padding: 8px;">
                                <MudText Inline="true" Typo="Typo.body2">
                                    @BlazorListStringHelper.Display(context.AdverseReactions, "Not Stated")
                                </MudText>
                            </MudExpansionPanel>
                        </MudItem>
                        <MudItem xs="12" sm="6">
                            <MudExpansionPanel Text="Dosage and Administration" Style="border: 1px solid #ccc; border-radius: 4px; padding: 8px;">
                                <MudText Inline="true" Typo="Typo.body2">
                                    @BlazorListStringHelper.Display(context.DosageAndAdministration, "Not Stated")
                                </MudText>
                            </MudExpansionPanel>
                        </MudItem>
                        <MudItem xs="12" sm="6">
                            <MudExpansionPanel Text="Drug Interactions" Style="border: 1px solid #ccc; border-radius: 4px; padding: 8px;">
                                <MudText Inline="true" Typo="Typo.body2">
                                    @BlazorListStringHelper.Display(context.DrugInteractions, "Not Stated")
                                </MudText>
                            </MudExpansionPanel>
                        </MudItem>
                        <MudItem xs="12" sm="6">
                            <MudExpansionPanel Text="Contraindications" Style="border: 1px solid #ccc; border-radius: 4px; padding: 8px;">
                                <MudText Inline="true" Typo="Typo.body2">
                                    @BlazorListStringHelper.Display(context.Contraindications, "Not Stated")
                                </MudText>
                            </MudExpansionPanel>
                        </MudItem>
                        <MudItem xs="12" sm="6">
                            <MudExpansionPanel Text="Storage and Handling" Style="border: 1px solid #ccc; border-radius: 4px; padding: 8px;">
                                <MudText Inline="true" Typo="Typo.body2">
                                    @BlazorListStringHelper.Display(context.StorageAndHandling, "Not Stated")
                                </MudText>
                            </MudExpansionPanel>
                        </MudItem>
                        <MudItem xs="12" sm="6">
                            <MudExpansionPanel Text="Manufacturer Contact Info" Style="border: 1px solid #ccc; border-radius: 4px; padding: 8px;">
                                <MudText Inline="true" Typo="Typo.body2">
                                    @BlazorListStringHelper.Display(context.Openfda.ManufacturerName, "Not Stated")
                                </MudText>
                            </MudExpansionPanel>
                        </MudItem>
                    </MudGrid>

                </MudTd>
            }
        </ChildRowContent>
        <PagerContent>
            <MudTablePager />
        </PagerContent>
    </MudTable>


}
else if (!string.IsNullOrWhiteSpace(errorMessage))
{
    <p style="color: red;">@errorMessage</p>
}

@code {

    @* Error loading drugs: Object reference not set to an instance of an object. *@

    // ---------------- START Variables ----------------
    // ================ API ============================
    [Inject]
    private DrugService service { get; set; } = default!;
    private List<FullDrug> drugs = new();
    private string? errorMessage;
    private bool isLoading = false;

    // ================ MUDBLAZOR ======================
    private string? textValue;
    private int? limitValue;
    private string? textSearchString = "";
    private MudTheme Theme = new MudTheme();

    // ---------------- END Variables ------------------


    // --------------- START Functions ----------------
    // =============== API ============================
    async Task LoadDrugs()
    {
        isLoading = true;
        errorMessage = null;
        textSearchString = "";
        try
        {
            drugs = await service.GetDrugsAsync(textValue);

        }
        catch (Exception ex)
        {
            errorMessage = $"Error loading drugs: {ex.Message}";
            drugs = new();
        }
        finally
        {
            isLoading = false;
        }
    }


    // =============== MUDBLAZOR ======================
    private bool FilterFunc1(FullDrug element) => FilterFunc(element, textSearchString);
    private bool FilterFunc(FullDrug element, string searchString)
    { 
         bool res = false; 
         if (string.IsNullOrWhiteSpace(searchString)) 
             res = true; 
         if (string.Join("", element.Openfda.GenericName).Contains(searchString, StringComparison.OrdinalIgnoreCase)) 
             res = true; 
         return res;
    }
    private void ToggleExpansion(FullDrug drug) 
     { 
         drug.IsExpanded = !drug.IsExpanded; 
     } 
    private async void InvokeAsyncByKeyDown(KeyboardEventArgs e)
    {
        if (e.Key == "Enter" && !isLoading)
        {
            await LoadDrugs();
        }
    }
    // ---------------- END Functions -----------------
}
